<form [formGroup]="clientForm" class="flex flex-col w-full gap-y-4">

    <!-- First name -->
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Nom(s)</mat-label>
        <input formControlName="firstName" matInput type="text" placeholder="Renseignez le(s) nom(s)">
    </mat-form-field>

    <!-- Last name -->
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Prénoms(s)</mat-label>
        <input formControlName="lastName" matInput type="text" placeholder="Renseignez le(s) prénom(s)">
    </mat-form-field>

    <!-- Phone number -->
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Contact</mat-label>
        <!-- <ngx-mat-intl-tel-input formControlName="contact" type="tel" class="w-full" id="phone"
            [preferredCountries]="phoneInputCountryCode()" [enableSearch]="true" [enablePlaceholder]="true"
            [format]="'national'" placeholder="Numéro de téléphone (indicatif de pays inclus)">
        </ngx-mat-intl-tel-input> -->
        <input matInput formControlName="contact" type="tel"
            placeholder="Numéro de téléphone (indicatif de pays inclus)">
    </mat-form-field>

    <!-- Address -->
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Adresse</mat-label>
        <input formControlName="address" matInput type="text" placeholder="Adresse postale, rue, etc.">
    </mat-form-field>

</form>
