<table class="w-full bg-inherit" mat-table [dataSource]="dataSource" cdkDropList
    cdkDropListOrientation="horizontal" (cdkDropListDropped)="moveColumn($event)">

    <ng-content></ng-content>

    <!-- ID -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header></th>
        <td mat-cell *matCellDef="let package" [attr.data-label]="''">
        </td>
    </ng-container>

    <!-- Created at -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let package" [attr.data-label]="'Date'">
            {{ package.createdAt | date:'shortDate' }}
        </td>
    </ng-container>

    <!-- Numero -->
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>&numero; BE</th>
        <td mat-cell *matCellDef="let package" [attr.data-label]="'BE'">
            {{ package.shipment.number }}
        </td>
    </ng-container>

    <!-- From -->
    <ng-container matColumnDef="from.city.name">
        <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Prov.</th>
        <td mat-cell *matCellDef="let package" [attr.data-label]="'Prov.'">
            {{ package.shipment.from.city.name }}
        </td>
    </ng-container>

    <!-- To -->
    <ng-container matColumnDef="to.city.name">
        <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Dest.</th>
        <td mat-cell *matCellDef="let package" [attr.data-label]="'Dest.'">
            {{ package.shipment.to.city.name }}
        </td>
    </ng-container>

    <!-- Designation -->
    <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header>Designation</th>
        <td mat-cell *matCellDef="let package" [attr.data-label]="'Designation'">
            {{ package.designation }}
        </td>
    </ng-container>

    <!-- Quantity -->
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header class="mat-sort-header-right">Qté</th>
        <td mat-cell *matCellDef="let package" [attr.data-label]="'Qté'" class="text-right">
            {{ package.quantity | number }}
        </td>
    </ng-container>

    <!-- Weight -->
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header class="mat-sort-header-right">Pds(kg)</th>
        <td mat-cell *matCellDef="let package" [attr.data-label]="'Pds(kg)'" class="text-right">
            {{ package.weight | number }}
        </td>
    </ng-container>

    <!-- Price -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header class="mat-sort-header-right">P.U.</th>
        <td mat-cell *matCellDef="let package" [attr.data-label]="'P.U.'" class="text-right">
            {{ package.price | currency }}
        </td>
    </ng-container>

    <!-- Total price -->
    <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef cdkDrag mat-sort-header class="mat-sort-header-right">Montant HT</th>
        <td mat-cell *matCellDef="let package" [attr.data-label]="'Montant HT'" class="text-right">
            {{ package.totalPrice | currency }}
        </td>
    </ng-container>

    <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
    <tr class="mat-row" *matNoDataRow>
        <td class="p-4 text-center mat-cell" [attr.colspan]="columns.length">
            @if (loading) {
            @defer (when loading) {
            <mat-progress-spinner [diameter]="40" [mode]="'indeterminate'" class="mx-auto"></mat-progress-spinner>
            }
            }
            @else {
            Liste vide
            }
        </td>
    </tr>

</table>
