/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */
/* International phone input styles
/* ----------------------------------------------------------------------------------------------------- */

ngx-mat-intl-tel-input {
    button.country-selector {
        opacity: 100 !important; // Always show country selector
        top: 50% !important;
        transform: translateY(-50%);
        .mdc-button__label {
            display: flex;
        }
    }
}

.mat-sort-header.mat-sort-header-right
    > .mat-sort-header-container {
    justify-content: end;
}

.mat-sort-header.mat-sort-header-center
    > .mat-sort-header-container {
    justify-content: center;
}
