@switch (layout) {
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
@case ('empty') {
@defer (when layout === 'empty') {
<empty-layout></empty-layout>
}
}

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with horizontal navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Enterprise -->
@case ('enterprise') {
@defer (when layout === 'enterprise') {
<enterprise-layout></enterprise-layout>
}
}
}
