@switch (layout) {
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
@case ('empty') {
@defer (when layout === 'empty') {
<sia-empty-layout />
}
}

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with horizontal navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Modern -->
@case ('modern') {
@defer (when layout === 'modern') {
<sia-modern-layout />
}
}
}
