@switch (layout) {
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
@case ('empty') {
@defer (when layout === 'empty') {
<empty-layout></empty-layout>
}
}

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with horizontal navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Modern -->
@case ('modern') {
@defer (when layout === 'modern') {
<modern-layout></modern-layout>
}
}
}
