<div
    class="shadow flex flex-col text-black text-[12px] bg-[#d5e4f1] w-240 min-w-240 max-h-240 border-primary border-double border-8 print:max-h-none print:p-0 print:w-[210mm] print:h-[148mm] print:rounded-none print:shadow-none print:bg-[#d5e4f1]">
    <!-- Two  columns layout -->
    <div class="flex h-full gap-x-2">

        <div class="flex flex-col mb-1 w-2/3 gap-y-0.5">
            <!-- Header -->
            <div class="flex self-start w-full">

                <!-- Logo -->
                <picture class="relative flex-0 block w-[170px] h-[100px] mr-2">
                    <img ngSrc="assets/images/logo/logo-invoice.png" alt="Logo image invoice" priority fill>
                </picture>

                <div class="flex flex-col justify-between w-full gap-y-2">
                    <p class="p-1 mt-1 text-xl font-bold tracking-tight bg-white border-2 border-black rounded-lg">
                        BORDEREAU D'EXPEDITION
                        <span class="text-warn">
                            &numero;
                            {{ shipment().number }}
                        </span>
                    </p>
                    <div class="flex w-full gap-x-1">
                        <!-- Shipper town -->
                        <div class="w-1/2">
                            <span class="font-semibold">Provenance</span>
                            <div class="flex items-center h-8 px-4 bg-white rounded-xl">
                                {{ user().city?.name }}, {{ user().city?.countryCode }}
                            </div>
                        </div>
                        <!-- Recipient town -->
                        <div class="w-1/2">
                            <span class="font-semibold">Destination</span>
                            <div class="flex items-center h-8 px-4 bg-white rounded-xl">
                                {{ shipment().deliveryCity?.name }}, {{ shipment().deliveryCity?.countryCode }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Packages -->
            <div class="mt-1 ml-1 bg-white border-2 border-black rounded-xl">

                <div class="flex items-center">
                    <div class="py-1  px-1.5 text-[18px] font-semibold rounded-xl bg-[#fff200] text-primary tracking-tight">
                        DESCRIPTION DE L'ENVOI
                    </div>
                    <div class="flex gap-x-2 ml-auto justify-between mr-1.5">
                        <div>
                            <span class="font-semibold">Date:</span>
                            {{ shipment().pickupDate | date:'shortDate' }}
                        </div>
                        <div>
                            <span class="font-semibold">Heure:</span>
                            {{ shipment().pickupTime }}
                        </div>
                    </div>
                </div>

                <!-- Items -->
                <div class="grid grid-cols-12 *:border-1 *:min-h-[24px] *:border-black">

                    <!-- Headers -->
                    <div
                        class="flex items-center justify-center col-span-1 p-1 font-semibold text-center border-t border-r">
                        &numero;</div>
                    <div
                        class="flex items-center justify-center col-span-10 p-1 font-semibold text-center border-t border-r">
                        Désignation</div>
                    <div
                        class="flex items-center justify-center col-span-1 p-1 font-semibold text-center border-t border-r">
                        Qté</div>


                    <!-- Rows -->
                    @for (shippingItem of shipment().items; track shippingItem.id) {
                    <div class="flex items-center justify-center col-span-1 p-1 text-center border-t border-r">
                        {{ $index + 1 }}
                    </div>
                    <div class="flex items-center justify-center col-span-10 p-1 text-center border-t border-r">
                        {{ shippingItem.designation }}
                    </div>
                    <div class="flex items-center justify-center col-span-1 p-1 text-center border-t border-r">
                        {{ shippingItem.quantity | number }}
                    </div>
                    }

                    @for (emptyRow of shipmentPackagesEmptySeats(); track $index) {
                    <div class="flex items-center justify-center col-span-1 p-1 text-center border-t border-r">
                    </div>
                    <div class="flex items-center justify-center col-span-10 p-1 text-center border-t border-r">
                    </div>
                    <div class="flex items-center justify-center col-span-1 p-1 text-center border-t">
                    </div>
                    }
                    <div
                        class="flex items-center col-span-11 *:p-1 text-[11px] last:*:text-[12px] *:tracking-tighter text-center border-t border-r *:border-r last:*:border-r-0 *:border-black">
                        <div>
                            <span class="font-semibold">Dim.:</span>
                            {{ shipment().bundledLength | number }}m x
                            {{ shipment().bundledWidth | number }}m x
                            {{ shipment().bundledHeight | number }}m
                        </div>
                        <div>
                            <span class="font-semibold">Poids Réel:</span>
                            {{ shipment().totalWeight | number }} kg
                        </div>
                        <div>
                            <span class="font-semibold">Poids Vol:</span>
                            {{ shipment().volumetricWeight | number }} kg
                        </div>
                        <div>
                            <span class="font-semibold">Poids Final:</span>
                            {{ shipment().finalWeight | number }} kg
                        </div>
                        <div class="ml-auto font-semibold">Total:</div>
                    </div>
                    <div class="flex items-center justify-center col-span-1 p-1 text-center border-t">
                        {{ shipmentPackagesCount() | number }}
                    </div>
                </div>
            </div>
            <!-- Payment, signatures -->
            <div class="flex mt-1 ml-1 gap-x-2">
                <div class="w-1/3 border-2 border-black rounded-xl">
                    <div
                        class="px-2 h-12 bg-[#fff200] rounded-t-xl flex flex-col text-center justify-between items-center tracking-tight font-semibold text-primary">
                        <span class="m-auto">Paiement</span>
                    </div>
                    <dl class="grid grid-cols-12 p-2 bg-white gap-y-1">
                        <dt class="col-span-3 font-semibold">PHT</dt>
                        <dd class="col-span-9">
                            {{ shipment().totalPrice | currency }}
                        </dd>
                        <dt class="col-span-3 font-semibold">TVA</dt>
                        <dd class="col-span-9">
                            {{ 0 | currency }}
                        </dd>
                        <!-- cspell:disable-next-line -->
                        <dt class="col-span-3 font-semibold">PTTC</dt>
                        <dd class="col-span-9">
                            {{ shipment().totalPrice | currency }}
                        </dd>
                    </dl>
                </div>
                <div class="w-1/3 border-2 border-black rounded-xl">
                    <div
                        class="px-2 h-12 bg-[#fff200] rounded-t-xl text-center flex flex-col font-semibold text-primary tracking-tight">
                        Signature expéditeur
                        <span class="text-[0.5rem] italic leading-3 tracking-tight">Cette signature vaut acceptation des
                            clauses contractuelles au verso</span>
                    </div>
                    <div></div>
                </div>
                <div class="w-1/3 border-2 border-black rounded-xl">
                    <div
                        class="px-2 h-12 bg-[#fff200] flex flex-col rounded-t-xl text-center justify-center font-semibold text-primary tracking-tight">
                        Nom et signature
                        <span class="text-[0.5rem] italic leading-3 tracking-tight">Opérateur SOLEX</span>
                    </div>
                </div>
            </div>
            <!-- Amount in letters -->
            <div class="flex flex-1 mt-1 ml-1 gap-x-2">
                <div class="w-9/12 p-2 bg-white border-2 border-black min-h-18 rounded-xl">
                    <span class="italic font-semibold tracking-tight">
                        Montant en toutes lettres à confirmer par l'expéditeur:
                    </span>
                    <p class="tracking-tight">
                        {{ shipment().totalPrice | frenchNumber | titlecase }} Francs CFA
                    </p>
                </div>
                <div class="w-3/12 p-1 bg-white border-2 border-black rounded-xl">
                    <p class="text-[0.5rem] italic font-semibold text-center">
                        SIGNATURE EXPÉDITEUR POUR CONFIRMATION

                    </p>
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-auto w-1/3 mb-1 gap-y-2">
            <!-- Shipper and recipient -->
            <div class="flex flex-col w-full px-2 py-1 mt-1 bg-white border-2 border-black rounded-lg h-3/5">
                <p class="mx-auto text-[14px] font-bold">
                    <span class="tracking-tight underline text-primary">EXPÉDITEUR</span>
                </p>
                <dl class="grid grid-cols-12 mt-2 gap-x-1">
                    <dt class="col-span-3 font-semibold">Nom:</dt>
                    <dd class="col-span-9 tracking-tight">
                        {{ shipment().from.firstName }} {{ shipment().from.lastName }}
                    </dd>
                    <dt class="col-span-3 font-semibold">Tél:</dt>
                    <dd class="col-span-9 tracking-tight">
                        {{ shipment().from.contact | phone }}
                    </dd>
                    <dt class="col-span-3 font-semibold">Adresse:</dt>
                    <dd class="col-span-9 tracking-tight">
                        {{ shipment().from.address }}
                    </dd>
                </dl>
                <p class="mx-auto mt-3 text-[14px] font-bold underline text-primary tracking-tight">
                    DESTINATAIRE
                </p>
                <dl class="grid grid-cols-12 mt-2 gap-x-1">
                    <dt class="col-span-3 font-semibold">Nom:</dt>
                    <dd class="col-span-9 tracking-tight">
                        {{ shipment().to.firstName }} {{ shipment().to.lastName }}
                    </dd>
                    <dt class="col-span-3 font-semibold">Tél:</dt>
                    <dd class="col-span-9 tracking-tight">
                        {{ shipment().to.contact | phone }}
                    </dd>
                    <dt class="col-span-3 font-semibold">Adresse:</dt>
                    <dd class="col-span-9 tracking-tight">
                        {{ shipment().to.address }}
                    </dd>

                    @if (shipment().deliveryAddress) {
                    <dt class="col-span-3 font-semibold">Livraison:</dt>
                    <dd class="col-span-9 tracking-tight">
                        {{ shipment().deliveryAddress }}, {{ shipment().deliveryCity?.name }}, {{
                        shipment().deliveryCity?.countryCode }}
                    </dd>
                    }
                </dl>
            </div>
            <!-- Deliver -->
            <div class="flex flex-col border-2 border-black rounded-xl h-2/5">
                <div
                    class="flex items-center justify-center h-6 p-1 mt-2 text-[14px] font-semibold text-center text-primary tracking-tight">
                    LIVRAISON
                </div>
                <div class="flex flex-auto border-black border-y-2">
                    <div class="flex flex-col w-1/2 border-r-2 border-black">
                        <div class="border-b-2 border-black h-1/2">
                            <p class="p-0.5 font-semibold leading-3 tracking-tight">
                                Réceptionniste <span class="text-[10px]">(Nom et signature)</span>
                            </p>
                        </div>
                        <div class="h-1/2">
                            <p class="p-0.5 font-semibold leading-3 tracking-tight">
                                Opérateur SOLEX <span class="text-[10px]">(Nom et signature)</span>
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col w-1/2">
                        <p class="p-0.5 w-full font-semibold text-center leading-3 tracking-tight">
                            Observations
                        </p>
                    </div>
                </div>
                <div class="flex items-center justify-center h-6 p-1 px-2 mt-auto text-center gap-x-1">
                    <div class="w-1/2">
                        Date:
                    </div>
                    <div class="w-1/2">
                        Heure:
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div
        class="bg-[#fff200] line-clamp-1 rounded-xl p-0.5 w-full leading-3 font-semibold text-center mb-1 text-[0.625rem]">
        SARL au capital de F.cfa: 100 000 000 - RCCM:RC/YAO/2006/B/1857 - N° Contr.: M110600021527L -B.P 11988
        Yaoundé-Cameroun - Tél.:+237 670 43 20 73 / 677 08 79 03
    </div>

</div>
